# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
Publish
.idea
*.pdb

# Tools
_ReSharper.*
_NCrunch*.*
_TeamCity.*
*.ncrunchproject


# Settings
*.DotSettings.user
*.DotSettings.*.user
*.csproj.user
*.suo
*.vsmdi
*.testsettings
*.manifest


# mstest test results
TestResults

#Database
Data/*.*
