@using System.Security.Cryptography.X509Certificates
@inherits Skight.eLiteWeb.Presentation.Web.ViewEngins.TemplateBase<System.Collections.Generic.IEnumerable<Skight.HelpCenter.Domain.Keyword>>
<!DOCTYPE html>
<html ng-app>
<head>
    <script src="Scripts/angular.js"></script>
    <script src="Index.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet">
    <title>Skight I-Tech Inc. Help Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container text-center">
  <div class="page-header">
    <h1 >Skight I-Tech Inc. Help Center System</h1>
    <h2>Ask Result</h2>
  </div>
  <ol>
    @foreach (var item in Model)
    {
      <li>@item</li>
    }
    </ol>
</div>
</body>
</html>
