<?xml version="1.0"?>

<configuration>
  <appSettings>

  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>

      </assemblies>
    </compilation>
    <httpHandlers>
      <remove verb="*" path="*"/>
      <add verb="*" path="**/*.do" type="Skight.eLiteWeb.Presentation.Web.FrontControllers.BasicHttpHandler, Skight.eLiteWeb.Presentation, Version=1.0.0.0, Culture=neutral"/>

    </httpHandlers>
  </system.web>

  <system.webServer>
    <handlers>
      <add name="Skight do" verb="*" path="**/*.do" type="Skight.eLiteWeb.Presentation.Web.FrontControllers.BasicHttpHandler, Skight.eLiteWeb.Presentation, Version=1.0.0.0, Culture=neutral"/>
    </handlers>
  </system.webServer>

</configuration>
